.section {
    background: white;
    margin: 10px 0;
}

.section_header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid rgb(209, 202, 202);
}

.section_body {
    padding: 20px;
}